/* Matthew Rapp CSS */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:500,700');
@import url('https://fonts.googleapis.com/css?family=Tajawal:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
	overflow-x: hidden;
	font-family: 'Roboto Condensed', sans-serif;
	color: #505962;
	max-width: 100%:
}

.offset:before {
	display: block;
	content: "";
	height: 4rem;
	margin: -4rem 0 0 0;
}

/*-- Navigation --*/
.navbar {
	text-transform: uppercase;
	font-weight: 400;
	font-size: .9rem;
	letter-spacing: .1rem;
	background-color: rgba(0, 0, 0, 0.8)!important;
}
.name-brand {
	margin: 0 0 0 8px;
	font-size: 26px;
	color: #a99f92;
	letter-spacing: 3px;
	font-family: 'Roboto Condensed', sans-serif;
}

.navbar-dark .navbar-nav .nav-link.active {
	color: #a99f92!important;
}

.navbar-brand img {
	height: 4rem;
}

.navbar-nav li {
	padding: 0, .7rem, 0, 0;
}

.navbar-dark .navbar-nav .nav-link {
	color: #a99f92;
	padding: .8rem, 0, 0, 0;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}
/*-- End Navigation --*/

/*-- Start of Landing Page --*/
.home-inner {
	background-image: url(img/pic1.JPG);
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 54%;
	color: #fff;
	z-index: 1;
	text-transform: uppercase;
}

.caption h1 {
	font-size: 2.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	margin-bottom: -8px;
}

.caption h3 {
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding: 1.6rem 0rem .6rem 0rem;
}


/*-- End of Landing Page --*/

/*-- Start of Music Page --*/

#music .row {
	background-color: rgba(0, 0, 0, .7);
	margin-top: -16px;
	padding-top: 10px;
	
}
.narrow {
	width: 45%;
	margin: 1.5rem auto;
	padding-top: 2rem;
}

.narrow h1 {
	font-size: 2.4rem;
}

.title {
	width: 90%;
	display: block;
	margin: 0 auto;
	color: #fff;
	padding: 70px 0px 0px 0px;
}

.place-bg-artwork {
	background-image: url(img/mr-place.png);
	background-size: cover;
	background-position: center center;
	max-width: 100%;
	
}

.place-artwork{
	border: .1rem solid rgba(0, 0, 0, .1);
  padding: 1px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .4);
  max-width: 100%;
  }

.title p {
	text-align: left;
	margin: 1rem 0 0 3rem;
	font-size: 14px;
	padding-bottom: 5px;
}

.mobile-switch , .img-section {
	min-width: 50%;
}

.title h1 {
	font-size: 50px;
	letter-spacing: 2px;
}

.stream-download-div {
	padding: 20px 0px;
}

.stream-download-btn {
	font-size: 18px;
	padding: 10px 30px;
	border-radius: 0px;
	background-color: #f7f7f7;
	color: #000;
}
.stream-download-btn:hover {
	background-color: #a99f92;
}

.svg-inline--fa {
	margin-right: 6px!important;
}

/* .btn-secondary {
	border-width: medium;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: .6rem 1.2rem;
	margin: 1rem;
	color: #fff;
	background-color: #1ebba3;
	border-color: #1ebba3;
}

.btn-secondary:hover {
	background-color: #189582;
	border-color: #1ebba3;
}

.stream-music-btn {
	display: block;
	margin: 0 auto;
	align-items: center;
}
	
.btn-lg {
	border-width: thin;
	border-radius: .2rem;
	padding: .4rem 1.4rem;
	font-size: 1.8rem;
	margin: .4rem auto;
}

.stream-music-btn .btn-lg { 
	font-size: 1rem;
	color: #000;
	border-color: #000;
	width: 30%;
}

.stream-music-btn .btn-lg:hover {
	background-color: black;
	color: #fff;
} */


/*-- End of Music Page --*/


#tour .col-12 {
	padding: 28px;
	background-color: #000;
}

.bit-top-track-button {
	display: none;
}

.tour-heading {
	text-align: center;
	color: #fff;
	padding-bottom: 5px;
}

.tour-heading h3 {
	letter-spacing: 3px;
	font-size: 48px;
	margin: -5px auto;
}

.tour-heading h6 {
	letter-spacing: 3px;
	font-size: 20px;
	color: #a99f92;
}

.heading-underline {
	width: 2rem;
	height: .05rem;
	background-color: #a99f92;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center; 
}


/*-- End of Tour Page --*/

/*-- Start of Footer Page --*/

.offset:before {
	margin-top: -5rem!important;
}

footer {
	background-color: #8d8272;
	color: #fff;
	padding: 2rem 0;
	margin-top: 1rem;
	padding-bottom: 16px;
}

footer strong {
	font-size: 24px;
	letter-spacing: 2.5px;
}

.personal-info {
	margin-top: 8px!important;
	letter-spacing: 1.5x;
}

.personal-social {
	margin-top: -10px;
	margin-bottom: -30px;
}

footer img {
	height: 3rem;
	margin: 1.5rem 0;
}

footer a {
	color: #fff;
}

footer svg.svg-inline--fa {
	font-size: 1.6rem;
	margin: 1.2rem .5rem 0 0;
}

footer a:hover {
	color: #a99f92!important;
}

footer svg.svg-inline--fa:hover {
	color: #a99f92!important;
}

hr.socket {
	width: 100%;
	border-top: .2rem solid #666b71;
	margin-top: 3rem;
}

/*-- End of Footer Page --*/


/*-- Media Queries --*/

@media (max-width: 767px) {
.caption h1 {
	font-size: 1.3rem;
	letter-spacing: .15;
	padding-bottom: .5rem;
	margin-bottom: -8px;
}

.caption h3 {
	font-size: 1.2rem;
	padding-bottom: 1.2rem;
}

#music .row {
	width: 100%;
	text-align: center;
}

.img-section , .mobile-switch {
	display: block;
	width: 100%;
}

.title {
	display: none;
}

.mobile-switch {
	padding: 0px!important;
	margin: 0px auto!important;
}

.title , .img-section {
	padding: 0px!important;
	margin: 0px auto!important;
}

.btn-lg {
	padding: .3rem 1rem;
	font-size: 1rem;
}

.narrow h1 {
	font-size: 1.5rem;
}

.narrow p.lead{
	font-size: .9rem;
}

.clients img {
	max-width: 50%;
	display: block;
	margin: 0 auto;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.85)!important;
}

.navbar a{
	text-align: center;
	
}

}

/*

@media (min-width: 768px) {

.caption h1 {
	font-size: 1.3rem;
	letter-spacing: .15;
	padding-bottom: .5rem;
	margin-bottom: -8px;
}

.caption h3 {
	font-size: 1.2rem;
	padding-bottom: 1.2rem;
}

.btn-lg {
	padding: .3rem 1rem;
	font-size: 1rem;
}

.narrow h1 {
	font-size: 1.5rem;
}

} */




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/